<div>
  <b-card title="Редактор Користувачів">
    <b-row>
      <b-col md="4">
        <b-form-group label="Ім'я" label-for="firstName">
          <b-form-input v-model="user.firstName" placeholder="Ім'я" id="firstName"></b-form-input>
        </b-form-group>
        <b-form-group label="Фамілія" label-for="lastName">
          <b-form-input v-model="user.lastName" placeholder="Фамілія"  id="lastName"></b-form-input>
        </b-form-group>
        <b-form-group label="Електронна пошта" label-for="email">
          <b-form-input v-model="user.email" placeholder="Електронна пошта"  id="email"></b-form-input>
        </b-form-group>
        <b-form-group v-if="!$route.params.id" label="Пароль" label-for="password">
          <b-form-input v-model="user.password" placeholder="Пароль" id="password"></b-form-input>
        </b-form-group>
      </b-col>
    </b-row>
    <b-button class="pull-right" variant="outline-dark" @click="createOrUpdate">{{buttonName}}</b-button>
  </b-card>
</div>